{% extends 'common/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}{{ heading_text}}{% endblock %}

{% block content %}
    {% include 'common/navigation.html' %}
    <div class="container">
        <h2>{{ heading_text }}</h2>
        <form method="post" action="{% url 'change profile' user.id %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% buttons %}
                <button type="submit" class="btn add-button btn-secondary">Submit</button>
            {% endbuttons %}
        </form>

{% endblock %}