{% extends 'common/base.html' %}
{% load crispy_forms_filters %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ heading_text }}{% endblock %}


{% block content %}
    {% include 'common/navigation.html' %}

    <div class="container">
        <h1>My Tasks</h1>

        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">My next task</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.task_name }}</td>
                        <td>{{ object.task_text }}</td>
                        <td><i class="fa fa-solid fa-check"></i></td>
                        <td><i class="fa fa-solid fa-pen"></i></td>
                        <td><a href="{% url 'delete todo' pk=object.pk %}"><i class="fa fa-solid fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% buttons %}
                <a href="{% url "create todo" %}" class="btn btn-danger" role="button" aria-pressed="true">Add Task</a>
            {% endbuttons %}
        </div>

    </div>

    {% include 'common/footer.html' %}

{% endblock %}