{% extends 'common/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}My title{% endblock %}


{% block content %}
    {% include 'common/navigation.html' %}
    <div class="container">
        <h1> TO DO APP </h1>
        <h2>Keeps You on track</h2>
    </div>
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Nisl pretium fusce id velit ut tortor pretium. Id faucibus nisl tincidunt eget nullam
            non nisi est. Gravida cum sociis natoque penatibus et magnis. In hendrerit gravida rutrum quisque. Nulla
            aliquet porttitor lacus luctus accumsan tortor. Id porta nibh venenatis cras sed. Commodo ullamcorper a
            lacus vestibulum sed arcu non odio euismod. Et egestas quis ipsum suspendisse ultrices. Enim nunc faucibus a
            pellentesque sit amet porttitor eget dolor.
        </p>
        <p>
            Lectus sit amet est placerat in egestas erat. Eleifend quam adipiscing vitae proin. Adipiscing elit
            pellentesque habitant morbi. Tincidunt praesent semper feugiat nibh sed. Proin fermentum leo vel orci porta.
            Ullamcorper velit sed ullamcorper morbi. Aenean vel elit scelerisque mauris pellentesque pulvinar
            pellentesque habitant morbi. Duis ut diam quam nulla porttitor massa id neque. Pellentesque diam volutpat
            commodo sed egestas. Magna sit amet purus gravida quis blandit turpis. Libero nunc consequat interdum varius
            sit amet mattis vulputate. Elit eget gravida cum sociis. Tincidunt augue interdum velit euismod in
            pellentesque massa placerat. Porttitor lacus luctus accumsan tortor posuere ac. Sed viverra ipsum nunc
            aliquet.
        </p>
    </div>
    <div class="container">
        <h1> Simple steps for productivity </h1>
        <div class="row">
            <div class="col-sm center-block text-center">
                <i class="fas fa-id-card fa-5x"></i>
            </div>
            <div class="col-sm center-block text-center">
                <i class="fas fa-calendar-check fa-5x"></i>
            </div>
            <div class="col-sm center-block text-center">
                <i class="fas fa-thumbs-up fa-5x"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm center-block text-center">
                Register
            </div>
            <div class="col-sm center-block text-center">
                Log your tasks
            </div>
            <div class="col-sm center-block text-center">
                Stay on track
            </div>
        </div>
    </div>
    <div class="container">
        <h1> Let's get started </h1>
        <p>
            Massa massa ultricies mi quis hendrerit dolor magna eget est. Pulvinar mattis nunc sed blandit libero
            volutpat sed. Massa tempor nec feugiat nisl. Vitae tempus quam pellentesque nec. Mauris augue neque gravida
            in fermentum et. Tristique senectus et netus et malesuada fames. Porttitor eget dolor morbi non arcu. Neque
            sodales ut etiam sit.
        </p>
    </div>
    {% include 'common/footer.html' %}
{% endblock %}





